
<div class="formlayout">
  <h3>Add a word!</h3>
  <form action="/" method="post">
    <div class="form-group">
      <label for="word">Word</label>
      <input id="word" name="word" class="form-control" type="text" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="definition">Definition</label>
      <input id="definition" name="definition" class="form-control" type="text" autocomplete="off">
    </div>
    <button type="submit" class="btn btn-default">Add Word</button>
  </form>

  <h2>Your Words</h2>
  <% @words.each do |word| %>
  <h3><a href="/output/<%= word.id %>"><%= word.word %></a></h3>
  <% end %>
</div>
