<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Word Dictionary</title>
  </head>
  <body>
    <div class="container">
      <h1>Word Dictionary</h1>
      <%= yield %>
    </div>
  </body>
</html>
