<div class="well">
  <div class="row">
    <div class="col-md-3">
      <button type="submit" class="btn btn-default" id="add"><i class="fas fa-plus"></i></button>
      <form action="/output/<%= @word.id %>" method="post" id="new_def">
        <div class="form-group"><br>
          <input type="text" name="definition"><button type="submit" class="btn btn-danger">Add</button>
        </div>
      </form>
      <form action="/">
        <div class="form-group">
          <button type="submit" class="btn btn-default" name="back"><a href="/"><i class="fas fa-undo-alt"></i></a></button>
        </div>
      </form>
    </div>
    <div class="col-md-7">
      <h2><%= @word.word %>:</h2>
        <div class="well">
          <% @word.definition_list.each do |definition| %>
            <p><%= definition.definition %></p>
          <% end %>
      </div>
    </div>
  </div>
</div>
